@import 'mixins/vendor/media-queries';

// rem
@mixin rem-baseline($zoom: 100%) {
  font-size: $zoom / 16px * $rem-baseline;
}

@mixin rem($properties, $values...) {
  @if type-of($properties) == 'map' {
    @each $property in map-keys($properties) {
      @include rem($property, map-get($properties, $property));
    }
  } @else {
    @each $property in $properties {
      @if $rem-fallback or $rem-px-only {
        #{$property}: rem-convert(px, $values...);
      }
      @if not $rem-px-only {
        #{$property}: rem-convert(rem, $values...);
      }
    }
  }
}


// Font-face
@mixin font-face($fontname, $filename, $folder, $fontstyle: normal, $fontweight: normal) {
  @font-face {
    font-family: '#{$fontname}';
    font-style: $fontstyle;
    font-weight: $fontweight;
    src: local('#{$fontname}'), local('#{$filename}'),
				url('#{$fonts-path}/#{$folder}/#{$filename}.eot'),
    		url('#{$fonts-path}/#{$folder}/#{$filename}.eot?#iefix') format('embedded-opentype'),
    		url('#{$fonts-path}/#{$folder}/#{$filename}.woff') format('woff'),
				url('#{$fonts-path}/#{$folder}/#{$filename}.woff2') format('woff2'),
    		url('#{$fonts-path}/#{$folder}/#{$filename}.ttf') format('truetype'),
    		url('#{$fonts-path}/#{$folder}/#{$filename}.svg##{$filename}') format('svg');
  }
}

// Font-rendering

@mixin font-smoothing($value: on) {
  @if $value == on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

// Border sizing

@mixin box-sizing($type: border-box) {
  box-sizing: $type;
  -webkit-box-sizing: $type;
}


// Clearfix

@mixin clearfix {
  zoom: 1;

  &::before,
  &::after {
    content: '\0020';
    display: block;
    height: 0;
    overflow: hidden;
    }

  &::after {
    clear: both;
  }
}

// Border radius

@mixin border-radius($radius: 5px) {
  border-radius: $radius;
}

@mixin border-radius-all($topleftradius: 5px, $toprightradius: 5px, $bottomleftradius: 5px, $bottomrightradius: 5px) {
  border-bottom-left-radius:  $bottomleftradius;
  border-bottom-right-radius: $bottomrightradius;
  border-top-left-radius:     $topleftradius;
  border-top-right-radius:    $toprightradius;
}


// Brackground gradient horizontal

@mixin bg-gradient-horizontal($start-colour, $end-colour) {
  background-color: $start-colour;
  background-image: linear-gradient(to left, $start-colour, $end-colour);
  filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#{$start-colour}', end-colourStr='#{$end-colour}', gradientType='1');
}

@mixin bg-gradient-vertical($start-colour, $end-colour) {
  background-color: $start-colour;
  background-image: linear-gradient(to top, $start-colour, $end-colour);
  filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#{$start-colour}', end-colourStr='#{$end-colour}');
}

// Box shadow

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    box-shadow: inset $top $left $blur $color;
  } @else {
    box-shadow: $top $left $blur $color;
  }
}

// WebKit-style focus

@mixin tab-focus() {
  // WebKit-specific. Other browsers will keep their default outline style.
  // (Initially tried to also force default via `outline: initial`,
  // but that seems to erroneously remove the outline in Firefox altogether.)
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}


@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}


@mixin transform($transformations) {
  -webkit-transform: $transformations;
  -ms-transform: $transformations; // IE9 only
  -o-transform: $transformations;
  transform: $transformations;
}

/*
This .scss loop will create "margin helpers" and "padding helpers" for use in your web projects.
It will generate several classes such as:
.m-r-10 which gives margin-right 10 pixels.
.m-r-15 gives MARGIN to the RIGHT 15 pixels.
.m-t-15 gives MARGIN to the TOP 15 pixels and so on.
.p-b-5 gives PADDING to the BOTTOM of 5 pixels
.p-l-40 gives PADDING to the LEFT of 40 pixels
The first letter is "m" or "p" for MARGIN or PADDING
Second letter is "t", "b", "l", or "r" for TOP, BOTTOM, LEFT, or RIGHT
Third letter is the number of spacing in pixels. Adjust the amounts generated by editing the $spaceamounts variable below.
*/

$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }
  
    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}