//  **
//  * Colors based on the
//  * Brand Guidelines
//  **

$black:                 #000 !default;
$off-white:							lighten(saturate(adjust-hue($black, 120), 2.22), 91.18) !default;
$white:                 lighten($black, 100%) !default;
$grey:									#1a2532 !default;
$green:                 #78be20 !default;
$yellow:                #ffcd00 !default;


// Brand
$primary-color:         #004696 !default;
$secondary-color:       #002346 !default;

// Body
$body-bg:               $primary-color !default;
$text-color:            $white !default;

$topbar-bg:             #004696 !default;
$steps-bg:              $topbar-bg !default;
$banner-bg:             #031660 !default;

// Footer
$f-copy-bg:             #050a1e !default;
$f-nav-bg:              #23337e !default;
$testimonials-bg:       $topbar-bg !default;

// Links
$link-color:            $white !default;
$link-color-hover:      $white !default;
$active-color:          lighten($black, 90%) !default;

// Steps
$stp-border:            $primary-color !default;
$stp-border-hover:      $secondary-color !default;

// Social
$social-icon-fb:        #3a5795 !default;
$social-icon-yt:        #cc181e !default;
$social-icon-tw:        #55acee !default;
$social-icon-gp:        #f44336 !default;
$social-icon-ig:        #125688 !default;



//  **
//  * Assets paths
//  * Use interpolation syntax
//  * url(#{$get-path-to-assets}/asset.jpg)
//  **


$images-path:           '../img' !default;
$fonts-path:            '../fonts' !default;

// Icons
@import 'assets';


//  **
//  * Typography
//  **

// Fonts
$font-family-base:                'Lato', -apple-system, system-ui, BlinkMacSystemFont, sans-serif !default;
$font-family-headings-light:      'Breuer Text Light', -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, Helvetica, sans-serif !default;
$font-family-headings-regular:    'Breuer Text Regular', -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, Helvetica, sans-serif !default;
$font-family-headings-medium:     'Breuer Text Medium', -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, Helvetica, sans-serif !default;
$font-family-headings-bold:       'Breuer Text Bold', -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, Helvetica, sans-serif !default;
$font-family-headings:            'Breuer Headline Regular', -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, Helvetica, sans-serif !default;

// Base
$font-size-base:                  16px !default;
$line-height-base:                1.42857143 !default;

// rem unit
$rem-baseline:                    $font-size-base;
$rem-fallback:                    true !default;
$rem-px-only:                     false !default;

$font-size-h1:                    floor(($font-size-base * 3)) !default; // ~48px
$font-size-h2:                    floor(($font-size-base * 2.25)) !default; // ~36px
$font-size-h3:                    ceil(($font-size-base * 1.75)) !default; // ~28px
$font-size-h4:                    ceil(($font-size-base * 1.125)) !default; // ~18px
$font-size-h5:                    $font-size-base !default; // ~16px
$font-size-h6:                    ceil(($font-size-base * .875)) !default; // ~14px

$headings-margin-bottom:          5px !default;
$headings-line-height:            1.25 !default;
$headings-color:                  $text-color !default;
$headings-font-family:            $font-family-headings-bold !default;
$headings-font-weight:            bold !default;


//  **
//  * Containers
//  **

$container-xs:          480px !default;
$container-sm:          568px !default;
$container-md:          750px !default;
$container-lg:          970px !default;
$container-xl:          1170px !default;
$container-xxl:         1600px !default;


//  **
//  * Breakpoints
//  **

$breakpoint-xs: 0;
$breakpoint-sm: 567px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;


//  **
//  * Buttons
//  **

$btn-padding-x:         10px !default;
$btn-padding-y:         6px !default;
$btn-line-height:       $line-height-base !default;
$btn-font-weight:       700 !default;
