.container {
  margin-left: auto;
  margin-right: auto;
	padding: 0 1rem;
  width: 100%;

  &::after {
    clear: both;
    content: '';
    display: table;
  }

  @include min-screen(320px)  { @include rem((max-width: $container-xs));}
  @include min-screen(544px)  { @include rem((max-width: $container-sm));}
  @include min-screen(768px)  { @include rem((max-width: $container-md));}
  @include min-screen(992px)  { @include rem((max-width: $container-lg));}
  @include min-screen(1200px) { @include rem((max-width: $container-xl));}
}


.container-fluid {
  margin-left: auto;
  margin-right: auto;

  &::after {
      clear: both;
      content: '';
      display: table;
  }
}
