.l-footer {
  @include clearfix();
	@include rem(( font-size: 11px, padding: 18px 0 ));
  background-color: #001e55;
  margin: 0;
  width: 100%;

  p {
    line-height: 1.3;
    color: #c3e6ff;

    a {
      color: #c3e6ff;
      text-decoration: underline;
      font-weight: 700;
    }
  }

	.copyright {
		@include rem((margin-bottom: 20px));
	}

  .responsible {
		@include rem((margin-top: 5px));
	}
}

.compliance--logos {
  margin: 0 auto;
  width: 100%;
  @include rem((max-width: 290px));

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  @include min-screen(567px) {
    @include rem((max-width: 450px));
  }

  .compliance--logo {
    @include rem((
      width: 36px,
      height: 33px,
      border-radius: 3px,
      flex-basis: 36px,
      margin: 0 5px 10px 0));
      object-fit: contain;
      position: relative;

      @include min-screen(567px) {
        @include rem((
          margin: 0 10px 10px 0,
          width: 54px,
          height: 41px,
          flex-basis: 54px
        ));
      }

      &:last-child{
        margin-right: 0;
      }

      &.gcc {
        background: $white url($compliance-gamecarecert) no-repeat center center;
        background-size: 80%;
      }
      &.gc {
        background: $white url($compliance-gamcare) no-repeat center center;
        background-size: 50%;
      }
      &.la {
        background: $white url($compliance-legalage) no-repeat center center;
        background-size: 55%;
      }
      &.ibs {
        background: $white url($compliance-ibas) no-repeat center center;
        background-size: 80%;
      }
      &.nvs {
        background: $white url($compliance-nortonvs) no-repeat center center;
        background-size: 80%;
      }
      &.gbga {
        background: $white url($compliance-gbga) no-repeat center center;
        background-size: 85%;
      }
      &.gib {
        background: $white url($compliance-gib) no-repeat center center;
        background-size: 60%;
      }

      &.bgaw {
        background: url($compliance-gambleaware) no-repeat center center;
        background-size: 100%;
        width: 127px;
        flex-basis: 127px;
      }

      &.gms {
        background: url($compliance-gamstop) no-repeat center center;
        background-size: 80%;
        width: 92px;
        flex-basis: 127px;
      }

      &.gbc {
        background: url($compliance-gamblingcommission) no-repeat center center;
        background-size: 80%;
        width: 92px;
        flex-basis: 127px;
      }

      a {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
      }
    }
}
